* {
    margin:0;
    padding:0;
}
html,body {
    height:100%;
}
html {
    font-size:62.5%;
    font-family:微软雅黑;
}
.width-100 {
    width:100%;
}
.color-white {
    color:white;
}
.color-gray {
    color:rgb(226,97,99);
}
.float-left {
    float:left;
}
.header {
    position:fixed;
    z-index:99;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:5rem;
    background-color:rgb(95,192,205);
}
.head-left {
    margin-left:1em;
    height:1em;
    width:1em
}
.head-center {
    font-size:2em;
}
.neck {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    height:16em;
    background-image:url(beijing.png);
    background-size:cover;
}
.profile-photo {
    margin-left:2em;
    height:8em;
}
.information {
    display:flex;
    flex-wrap:wrap;
    margin-left:2em;
    width:15em;
}
.name1 {
    font-size:2em;
    flex-basis:15em;
}
.position-image {
    height:1.5em;
    margin:0.4em 1em 0 0;
}
.position {
    font-size:1.5em;
    margin-top:0.2em;
}
table {
    border-top:1px gray;
    border-bottom:1px gray;
    line-height:3em;
}
td {
    padding:0.5em;
}
.row1 {
    margin-left:0.8em;
    border-left:0.4em solid rgb(95,192,205);
    padding-left:0.8em;
}
.pentagram {
    margin:1em 0.2em 1em 1em;
    height:1em;
}
.table-left {
    border-right:1px solid gray;
    width:6em;
    text-align:center;
    line-height:1.6em;
    color:rgb(153,153,153);
}
.table-right {
    padding-left:0.5em;
}
.line-height {
    line-height:1.6em;
}
a {
    text-decoration:none;
}
.footer {
    position:fixed;
    bottom:0;
    height:5em;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:white;
}
.footer-left {
    display:flex;
    align-items:center;
    justify-content:center;
    width:calc(50% - 1em);
    height:1.7em;
    margin-left:0.5em;
    border:2px solid rgb(95,192,205);
    border-radius:0.3em;
    font-size:2em;
    color:rgb(95,192,205);
}
.footer-right {
    display:flex;
    align-items:center;
    justify-content:center;
    width:calc(50% - 1em);
    height:1.7em;
    margin-right:0.5em;
    border:2px solid rgb(95,192,205);
    border-radius:0.3em;
    font-size:2em;
    background-color:rgb(95,192,205);
    color:white;
}
.blank {
    height:5em;
}
